.idea/workspace.xml
.idea/tasks.xml
.idea/datasources.xml
.idea/libraries
.idea/dictionary.xml
out/
*/target/
Snippet-IDE/null
Snippet-IDE/Tests
SnippetIDE/logs.txt
SnippetIDE/settings.json
SnippetIDE/plugins